In [25]:
import pandas as pd
import numpy as np

In [3]:
!lscpu

Architecture:                    x86_64
CPU op-mode(s):                  32-bit, 64-bit
Byte Order:                      Little Endian
Address sizes:                   39 bits physical, 48 bits virtual
CPU(s):                          16
On-line CPU(s) list:             0-15
Thread(s) per core:              2
Core(s) per socket:              8
Socket(s):                       1
NUMA node(s):                    1
Vendor ID:                       GenuineIntel
CPU family:                      6
Model:                           158
Model name:                      Intel(R) Xeon(R) E-2286M  CPU @ 2.40GHz
Stepping:                        13
CPU MHz:                         2400.000
CPU max MHz:                     5000.0000
CPU min MHz:                     800.0000
BogoMIPS:                        4800.00
Virtualization:                  VT-x
L1d cache:                       256 KiB
L1i cache:                       256 KiB
L2 cache:                        2 MiB
L3 cache:                        16 MiB
NUMA node0 CPU(s):               0-15
Vulnerability Itlb multihit:     KVM: Mitigation: VMX disabled
Vulnerability L1tf:              Not affected
Vulnerability Mds:               Not affected
Vulnerability Meltdown:          Not affected
Vulnerability Spec store bypass: Mitigation; Speculative Store Bypass disabled v
                                 ia prctl and seccomp
Vulnerability Spectre v1:        Mitigation; usercopy/swapgs barriers and __user
                                  pointer sanitization
Vulnerability Spectre v2:        Mitigation; Enhanced IBRS, IBPB conditional, RS
                                 B filling
Vulnerability Srbds:             Mitigation; TSX disabled
Vulnerability Tsx async abort:   Mitigation; TSX disabled
Flags:                           fpu vme de pse tsc msr pae mce cx8 apic sep mtr
                                 r pge mca cmov pat pse36 clflush dts acpi mmx f
                                 xsr sse sse2 ss ht tm pbe syscall nx pdpe1gb rd
                                 tscp lm constant_tsc art arch_perfmon pebs bts
                                 rep_good nopl xtopology nonstop_tsc cpuid aperf
                                 mperf pni pclmulqdq dtes64 monitor ds_cpl vmx s
                                 mx est tm2 ssse3 sdbg fma cx16 xtpr pdcm pcid s
                                 se4_1 sse4_2 x2apic movbe popcnt tsc_deadline_t
                                 imer aes xsave avx f16c rdrand lahf_lm abm 3dno
                                 wprefetch cpuid_fault epb invpcid_single ssbd i
                                 brs ibpb stibp ibrs_enhanced tpr_shadow vnmi fl
                                 expriority ept vpid ept_ad fsgsbase tsc_adjust
                                 bmi1 avx2 smep bmi2 erms invpcid mpx rdseed adx
                                  smap clflushopt intel_pt xsaveopt xsavec xgetb
                                 v1 xsaves dtherm ida arat pln pts hwp hwp_notif
                                 y hwp_act_window hwp_epp md_clear flush_l1d arc
                                 h_capabilities

In [4]:
!cat /proc/meminfo

MemTotal:       65679168 kB
MemFree:        17731956 kB
MemAvailable:   49960088 kB
Buffers:         1307632 kB
Cached:         28791124 kB
SwapCached:          116 kB
Active:          8395076 kB
Inactive:       35082748 kB
Active(anon):      45364 kB
Inactive(anon): 13786812 kB
Active(file):    8349712 kB
Inactive(file): 21295936 kB
Unevictable:          56 kB
Mlocked:              48 kB
SwapTotal:       2097148 kB
SwapFree:        2094588 kB
Dirty:              2952 kB
Writeback:             0 kB
AnonPages:      13379548 kB
Mapped:          1581356 kB
Shmem:            463568 kB
KReclaimable:    3314588 kB
Slab:            3950452 kB
SReclaimable:    3314588 kB
SUnreclaim:       635864 kB
KernelStack:       28240 kB
PageTables:       101424 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:    34936732 kB
Committed_AS:   35458372 kB
VmallocTotal:   34359738367 kB
VmallocUsed:      117784 kB
VmallocChunk:          0 kB
Percpu:            21568 kB
HardwareCorrupted:     0 kB
AnonHugePages:    686080 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:     1262244 kB
DirectMap2M:    43646976 kB
DirectMap1G:    22020096 kB

In [5]:
from scipy.fft import fft2, rfft2, hfft2

import os
for dirname, _, filenames in os.walk('../input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

../input/train.csv.gz
../input/sample_submission.csv
../input/test.csv.gz

In [6]:
train = pd.read_csv('../input/train.csv.gz')
test = pd.read_csv('../input/test.csv.gz')
col = ['pixel%d'%i for i in range(784)]
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
X_train = train[col].values
X_test = test[col].values

In [9]:
X_train[0]

array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0, 188, 255,  94,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0, 191, 250, 253,  93,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0, 123, 248, 253, 167,  10,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,  80, 247, 253, 208,  13,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,  29, 207, 253, 235,  77,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,  54, 209, 253, 253,  88,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,  93, 254, 253, 238, 170,
        17,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,  23, 210, 254, 253,
       159,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  16, 209, 253,
       254, 240,  81,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  27,
       253, 253, 254,  13,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
        20, 206, 254, 254, 198,   7,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0, 168, 253, 253, 196,   7,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,  20, 203, 253, 248,  76,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,  22, 188, 253, 245,  93,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0, 103, 253, 253, 191,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,  89, 240, 253, 195,  25,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,  15, 220, 253, 253,  80,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  94, 253, 253,
       253,  94,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  89,
       251, 253, 250, 131,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0, 214, 218,  95,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0])

In [10]:
X_train.shape

(42000, 784)

In [11]:
%%time
X_train_rffts = []

for i in range(X_train.shape[0]):
    x0 = X_train[i].reshape((28,28))
    x0_rfft = np.fft.rfft2(x0)
    X_train_rffts.append(x0_rfft.flatten())

CPU times: user 1 s, sys: 5.83 ms, total: 1.01 s
Wall time: 1.01 s

In [12]:
X_train_rffts = np.array(X_train_rffts)

In [13]:
X_train_rffts.shape

(42000, 420)

In [15]:
np.real(X_train_rffts)

array([[ 1.66490000e+04, -1.08257306e+04,  6.76963766e+02, ...,
        -5.16570816e+01,  9.95065039e+01,  1.88794665e+02],
       [ 4.46090000e+04, -1.98178794e+04, -1.18997008e+04, ...,
         1.33841297e+03, -7.13075176e+02, -6.97117791e+02],
       [ 1.34250000e+04, -1.31473875e+04,  1.23414492e+04, ...,
         2.20034879e+02, -7.24335318e+02,  1.15771960e+03],
       ...,
       [ 3.15040000e+04, -1.93155379e+04,  1.26495096e+03, ...,
         1.37020337e+02,  2.34737792e+01, -5.48593545e+02],
       [ 2.63810000e+04, -1.80486774e+04,  3.58099480e+03, ...,
         1.46007899e+02,  7.71211686e+01, -1.34041127e+02],
       [ 1.81780000e+04, -1.37086207e+04,  4.32974446e+03, ...,
         4.61723260e+02, -1.35187041e+02, -3.31860635e+02]])

In [16]:
np.imag(X_train_rffts)

array([[    0.        ,  -393.92361504,  1416.36972316, ...,
          241.52381929,   181.97248153,  -354.84484368],
       [    0.        , -2173.50795916,  -951.60562691, ...,
          700.01269407,  -436.61944812,   634.70094532],
       [    0.        ,  -758.03364097,  1421.19349145, ...,
           46.86767769,   163.31789416,  -271.83755267],
       ...,
       [    0.        ,  3266.23522981, -5801.32930255, ...,
           -6.11915063,  -281.26660143,    13.54125169],
       [    0.        ,   349.01223171,   708.01409315, ...,
         -603.72295784,   312.04267895,  -121.72458798],
       [    0.        ,  1737.79385063, -4326.32789543, ...,
           17.4690778 ,   163.55507931, -1032.33154867]])

In [17]:
X_train_rffts = np.hstack([np.real(X_train_rffts), np.imag(X_train_rffts)])

In [18]:
X_train_rffts.shape

(42000, 840)

In [19]:
%%time
X_test_rffts = []

for i in range(X_test.shape[0]):
    x0 = X_test[i].reshape((28,28))
    x0_rfft = np.fft.rfft2(x0)
    X_test_rffts.append(x0_rfft.flatten())
    
X_test_rffts = np.array(X_test_rffts)
X_test_rffts = np.hstack([np.real(X_test_rffts), np.imag(X_test_rffts)])
X_test_rffts.shape

CPU times: user 801 ms, sys: 52.2 ms, total: 853 ms
Wall time: 858 ms

(28000, 840)

In [22]:
train_rffts = pd.DataFrame(data = X_train_rffts, columns = ['column%d'%i for i in range(840)])
train_rffts['label'] = train['label']
train_rffts.head()

,column0,column1,column2,column3,column4,column5,column6,column7,column8,column9,...,column831,column832,column833,column834,column835,column836,column837,column838,column839,label
0,16649.0,-10825.730588,676.963766,2972.747410,-331.791733,-1630.186080,800.741748,80.0,145.728115,-363.814434,...,-761.691003,-203.194784,423.136653,153.183586,-180.555275,-254.919830,241.523819,181.972482,-354.844844,1
1,44609.0,-19817.879430,-11899.700821,7152.010894,6192.999503,-2268.783599,-2748.228295,488.0,390.744388,46.205112,...,235.124052,450.535508,303.072135,-393.539691,-723.869427,101.385628,700.012694,-436.619448,634.700945,0
2,13425.0,-13147.387496,12341.449201,-11083.963364,9490.534722,-7699.389592,5852.892616,-4080.0,2482.590550,-1127.786479,...,662.742084,-845.319580,886.655304,-789.146911,581.917730,-314.556589,46.867678,163.317894,-271.837553,1
3,15025.0,-6462.372814,-6805.507220,7533.698456,946.579987,-4640.311023,1487.771136,747.0,195.898912,-430.387364,...,-223.685066,-2221.829438,1950.690155,871.882828,-2187.637017,734.000824,905.695550,-980.830446,193.303266,4
4,51093.0,-18393.458365,-16356.968576,3604.196760,6944.535309,678.005820,-527.521874,-492.0,-1811.020731,-1175.359535,...,184.710843,569.723654,-233.257547,-474.614050,-80.456407,106.090312,-161.727479,587.194889,463.961436,0

In [23]:
test_rffts = pd.DataFrame(data = X_test_rffts, columns = ['column%d'%i for i in range(840)])
test_rffts.head()

,column0,column1,column2,column3,column4,column5,column6,column7,column8,column9,...,column830,column831,column832,column833,column834,column835,column836,column837,column838,column839
0,39404.0,-18906.732622,-5146.300787,2577.674812,2457.863642,-983.171676,430.310252,580.0,-194.647951,-292.851020,...,-1299.981139,317.293434,679.820599,922.390899,-278.980452,-156.012490,413.671291,21.873111,-529.194641,-839.691826
1,39933.0,-14062.587657,-10110.726687,-1944.781456,4802.327853,3623.311516,553.934803,-2686.0,-1332.710204,440.961800,...,-615.680852,125.183512,-289.338874,-513.402691,441.501298,-303.954786,-392.177241,583.633694,459.358952,179.508930
2,14870.0,-10600.551679,2488.382337,1986.643869,-1566.992468,-149.196973,782.693282,-442.0,-81.304631,236.795895,...,-484.367896,1142.244304,-213.121293,-548.827656,315.846561,-80.248822,170.703029,49.303205,-504.126694,545.387835
3,16208.0,-10432.603182,-355.082185,5516.014909,-2345.370932,-2039.217306,1922.463636,928.0,-1725.810637,-44.289352,...,759.858315,-101.809821,-166.110449,145.195583,-14.403689,113.296886,-150.058066,17.274584,48.704123,47.168918
4,24294.0,-19077.881478,7515.914804,2306.642814,-5745.772765,4066.635736,-996.487721,-1071.0,1690.605696,-1276.379564,...,1810.856929,-1946.708622,651.723671,236.083503,-298.731667,146.513436,-115.769298,48.724877,145.017165,-282.299158

In [24]:
train_rffts.to_csv('../input/train_rffts.csv.gz', compression='gzip')
test_rffts.to_csv('../input/test_rffts.csv.gz', compression='gzip')

In [27]:
%%time
X_train_ffts = []

for i in range(X_train.shape[0]):
    x0 = X_train[i].reshape((28,28))
    x0_fft = fft2(x0)
    X_train_ffts.append(x0_fft.flatten())
    
X_train_ffts = np.array(X_train_ffts)
X_train_ffts.shape

CPU times: user 1.03 s, sys: 23.9 ms, total: 1.05 s
Wall time: 1.05 s

(42000, 784)

In [28]:
X_train_ffts

array([[ 16649.            -0.j        , -10825.73058792  -393.92361504j,
           676.96376556 +1416.36972316j, ...,
          3603.47777359 -1806.72094503j, -12908.05643718 +1555.70184151j,
         14826.64747894 -1645.46468766j],
       [ 44609.            -0.j        , -19817.87942973 -2173.50795916j,
        -11899.70082074  -951.60562691j, ...,
         -2879.84413137 +1353.94320205j,  14176.10430477 -2605.32982961j,
           -58.36866442  -707.26037376j],
       [ 13425.            -0.j        , -13147.38749591  -758.03364097j,
         12341.44920107 +1421.19349145j, ...,
          4786.34528311  +234.97435863j,  -5104.69731086  -567.72682136j,
          5169.14216404  +812.15761002j],
       ...,
       [ 31504.            -0.j        , -19315.53793265 +3266.23522981j,
          1264.95096129 -5801.32930255j, ...,
         -4665.34153421 +7536.79704536j,   4560.60374181-13729.40275524j,
          3670.13354319 +4556.50974322j],
       [ 26381.            -0.j        , -18048.67740063  +349.01223171j,
          3580.99479601  +708.01409315j, ...,
         -2996.13254545 -5104.1829584j ,   1774.06899446 +5505.64928475j,
          6379.80827763  +538.09744989j],
       [ 18178.            -0.j        , -13708.62065556 +1737.79385063j,
          4329.7444582  -4326.32789543j, ...,
         -3050.31221249 +3360.05244434j,  -2368.99551238  -402.33357632j,
          7865.15988516 -1870.92602333j]])

In [29]:
X_train_ffts = np.hstack([np.real(X_train_ffts), np.imag(X_train_ffts)])
train_ffts = pd.DataFrame(data = X_train_ffts, columns = ['column%d'%i for i in range(2*784)])
train_ffts['label'] = train['label']
train_ffts.head()

,column0,column1,column2,column3,column4,column5,column6,column7,column8,column9,...,column1559,column1560,column1561,column1562,column1563,column1564,column1565,column1566,column1567,label
0,16649.0,-10825.730588,676.963766,2972.747410,-331.791733,-1630.186080,800.741748,80.0,145.728115,-363.814434,...,57.092994,164.158199,331.641365,-466.608810,-749.407401,1916.178001,-1806.720945,1555.701842,-1645.464688,1
1,44609.0,-19817.879430,-11899.700821,7152.010894,6192.999503,-2268.783599,-2748.228295,488.0,390.744388,46.205112,...,307.033887,-118.143121,373.806105,-1765.320781,-373.047966,2168.431961,1353.943202,-2605.329830,-707.260374,0
2,13425.0,-13147.387496,12341.449201,-11083.963364,9490.534722,-7699.389592,5852.892616,-4080.0,2482.590550,-1127.786479,...,-587.401256,743.532013,-779.703518,677.923513,-447.766075,125.006110,234.974359,-567.726821,812.157610,1
3,15025.0,-6462.372814,-6805.507220,7533.698456,946.579987,-4640.311023,1487.771136,747.0,195.898912,-430.387364,...,706.047167,143.044108,-964.441545,526.927652,233.579291,-416.451157,853.525244,-1700.343512,1857.337167,4
4,51093.0,-18393.458365,-16356.968576,3604.196760,6944.535309,678.005820,-527.521874,-492.0,-1811.020731,-1175.359535,...,1134.303456,509.522881,-696.614075,681.470093,-974.856978,-2273.866761,2626.761876,2009.183212,-2764.059140,0

In [30]:
%%time
X_test_ffts = []

for i in range(X_test.shape[0]):
    x0 = X_test[i].reshape((28,28))
    x0_fft = fft2(x0)
    X_test_ffts.append(x0_fft.flatten())
    
X_test_ffts = np.array(X_test_ffts)
X_test_ffts = np.hstack([np.real(X_test_ffts), np.imag(X_test_ffts)])
X_test_ffts.shape

CPU times: user 813 ms, sys: 96 ms, total: 909 ms
Wall time: 907 ms

(28000, 1568)

In [31]:
test_ffts = pd.DataFrame(data = X_test_ffts, columns = ['column%d'%i for i in range(1568)])
test_ffts.head()

,column0,column1,column2,column3,column4,column5,column6,column7,column8,column9,...,column1558,column1559,column1560,column1561,column1562,column1563,column1564,column1565,column1566,column1567
0,39404.0,-18906.732622,-5146.300787,2577.674812,2457.863642,-983.171676,430.310252,580.0,-194.647951,-292.851020,...,-264.285053,189.479059,566.310374,234.802289,-1430.341029,-1179.136175,1173.810336,1139.740756,1961.482014,-482.076532
1,39933.0,-14062.587657,-10110.726687,-1944.781456,4802.327853,3623.311516,553.934803,-2686.0,-1332.710204,440.961800,...,-658.519125,976.384932,1384.199725,454.234436,-706.284688,-1962.758717,-1393.992626,2261.896457,2094.222255,-827.942574
2,14870.0,-10600.551679,2488.382337,1986.643869,-1566.992468,-149.196973,782.693282,-442.0,-81.304631,236.795895,...,573.088401,-1061.709039,330.737310,452.228028,-293.466002,266.671613,-1032.069216,1165.026343,13.440798,-1081.734453
3,16208.0,-10432.603182,-355.082185,5516.014909,-2345.370932,-2039.217306,1922.463636,928.0,-1725.810637,-44.289352,...,-149.984912,377.098143,-287.023097,-393.855908,701.598410,-49.188912,-1324.730839,2020.566363,-1353.825555,29.055683
4,24294.0,-19077.881478,7515.914804,2306.642814,-5745.772765,4066.635736,-996.487721,-1071.0,1690.605696,-1276.379564,...,-134.108480,-334.323290,1326.981920,-1911.550332,1220.525999,290.710327,-1469.785551,2134.521121,-2866.215815,3130.344103

In [32]:
train_ffts.to_csv('../input/train_ffts.csv.gz', compression='gzip')
test_ffts.to_csv('../input/test_ffts.csv.gz', compression='gzip')